<div id="wrap">
  <div id="main">

 <body class= "background">

  <div class="row">
   <h1 align="center"> Recipes </h1>

    <table align="center" width="1050">
    <thead>
      <th width="400"> Country </th>
      <th width="400"> Recipes </th>
      <th width="200"> Description </th>
    </thead>

  <% @meals.each do |meal|%>
    <tbody>
      <tr>
      <td width="225"><%= meal.country.name %></td>
      <td width="225"><%= meal.name %></td>
      <td width="600"><%= meal.description %></td>
      </tr>
        <% end %>
    </tbody>
    </table>
  </div>
</body>

 </div>
    </div>

    <div id="footer">
        <li><a href="https://www.twitter.com/kruzicle"><%=image_tag(image_path('twitter-icon.png')) %></a> <a href="https://github.com/laurenkruczyk"><%=image_tag(image_path('github-icon-1.png')) %></a> <a href="https://www.linkedin.com/in/laurenkruczyk"><%=image_tag(image_path('linkedin_icon.png')) %></a></li>

      <div id="copyright">
        Copyright © 2014 Global Diner. All Rights Reserved.
       </div>
    </div> 
