<div id="wrap">
  <div id="main">

    <body class= "background">
 

      <ul>
        <% if user_signed_in? %>
          <%= "Welcome #{current_user.first_name}"%>
        <% else %>
         <%= render 'layouts/messages' %>  
        <% end %>
      </ul>

 <div class="row">

 <h2> Submit a recipe </h2>

<%= simple_form_for [@country, @meal] do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :description %>
  <%= f.association :country, label_method: :name, input_html: {class: 'chosen'}, include_blank: false %>  
  <%= f.button :submit, :class => "button tiny" %>
<% end %>
 </div>

 </div>
   </div>
     <div id="footer">
        <li><a href="https://www.twitter/kruzicle"><%=image_tag(image_path('twitter-icon.png')) %></a> <a href="https://github.com/laurenkruczyk"><%=image_tag(image_path('github-icon-1.png')) %></a> <a href="https://www.linkedin.com/in/laurenkruczyk"><%=image_tag(image_path('linkedin_icon.png')) %></a></li>

      <div id="copyright">
        Copyright © 2014 Global Diner. All Rights Reserved.
       </div>
    </div> 

 <!-- <div class="footer">
   <div id="button"></div>
    <div id="container">
     <div id="cont">
     <div class="footer_center">
    </div>
  </div>
 </div>
</div> -->





